div.modern-page-navigation { 


	text-align: right;
	color:#2d2f30;
	font-size: 16px;
	margin: 15px 0 0px 0px;
    !font-family: "BarnaulGroteskBold-Reg";
    border-bottom: 1px solid #dadada;
    padding-bottom:15px;
}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
    color:#2d2f30;
    padding: 0 3px;
}

span.modern-page-current { 

   background:#FEE13C;
   -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -khtml-border-radius: 5px; 
   border-radius: 5px;
   display: inline-block;
   height: 30px;
   line-height: 30px;
   padding: 0 12px;
   text-decoration:none;

}



	 
div.modern-page-navigation a, span.modern-page-current 
{
  background:#e5e5e5;
   -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -khtml-border-radius: 5px; 
   border-radius: 5px;
   display: inline-block;
   height: 30px;
   line-height: 30px;
   padding: 0 12px;
   text-decoration:none;
}

span.modern-page-current { 

   background:#FEE13C;
}

div.modern-page-navigation .modern-page-title
{
	font-weight:bold;
}

.modern-page-load
{
	width:30px; height:30px;
	background-color:red;
}

.modern-page-load
{
	display: none;
	width:16px; 
	height:16px;
	background:url("al.gif") no-repeat left center;
}

.modern-page-next, .modern-page-previous
{
    display:none!important;
}

@media (max-width: 550px) {
    div.modern-page-navigation a, span.modern-page-current
       {
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        font-size: 14px;
        /*font-family: "BarnaulGroteskMedium-Reg";    */    
    } 
     
}    

@media (max-width: 440px) {
    div.modern-page-navigation a, span.modern-page-current
       {
        height: 25px;
        line-height: 25px;
        padding: 0 7px;
        font-size: 14px;
        !font-family: "BarnaulGroteskMedium-Reg";   
        font-size: 12px;        
    } 
}        