.countryMonthWrap
{
    margin-top: 20px;
    padding-top: 20px;
    border-top:4px solid #df0202;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}


.countryMonthCountry,.countryMonthCountry:hover
{
    color:#fff;
    font-size:18px;
    margin-bottom:0px;
    background: #f39100;
    padding: 10px 12px;
    display: inline-block;
}

.countryMonthStars
{
    color:#000;
    font-size:20px;
    margin-bottom:10px;
}

.contryMonthWrapper{
    display: grid;  
    grid-template-columns: 33.333% 33.333% 33.333%;
    margin-bottom: 20px;
}

.countryMonthList
{
    margin-bottom: 20px;
    border-bottom:1px solid #df0202;
}

.countryMonthList
{
    margin-bottom: 25px;
}

.countryTour
{
	padding: 16px;
	border:1px solid #ddd;
	margin: 0 5px 10px;
	color: #000;
	cursor:pointer;
}
.countryTour
{
	margin-top: 16px;
	position: relative;
	font-size: 14px;
	line-height: 1.39;
}

.countryTourPicWrap
{
	position: relative;
}
.countryTourPic
{
	height: 150px;
	background-size: 100% auto;
	background-position: 50% 50%;
	transition: background-size .3s linear;
}

.countryTourStars
{
	height:15px;
    margin-top: 2px;
}

.gStar {
    width: 12px;
    height: 11px;
    background: url('images/icon_gstar.png');
    display: inline-block;
    margin-right: 5px;
}

.countryTourHotelName {
    font-weight: 600;
    font-size: 16px;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 22px;
}

.countryTourDateNights
{
	margin-top: 0px;
	opacity: .8;
}
.countryTourFrom
{
	opacity: .8;
}

.countryTourPriceWrap
{
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.countryTourPrice
{
	text-align: right;
}
.countryTourPrice span
{
	font-size: 24px;
	text-align: right;
	line-height: 1;
}

.countryTour:hover .countryTourPic {

    background-size: 110% auto;
}

.countryTour:hover .hotPrice .priceIcon {
    background-color: #df0202;
}

.tourHotelWrap
{
	width:100%;
	max-width:600px;
	padding:20px;
}

.hotelName {
    display: block;
    font-size: 20px;
    color: #2d2f30;
}
.hotelPhoto
{
	margin-bottom:10px;
}
.infoWrapper
{
	padding: 10px 0;
	
	display: flex;
	border-top: 1px solid #dadada;
	color: #58595a;
}
.infoLabel
{
	width: 150px;
	font-weight:bold;
	flex-shrink: 0;
	color: #000;
}

.infoWrapper ul li {
    
    position: relative;
    line-height: 21px;
	box-sizing: content-box;
	list-style-type: disc;
}

.hotelPriceInfo
{
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;	
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

.hotelPriceInfo:after
{
	content:"";
	clear:both;
	display:block;
}

.hotelTourPrice {
    color: #036;
	float: left;
	line-height: 35px;
}

.hotelTourPrice span{
    font-size: 26px;
    color: #036;
    padding: 0 0 0 3px;
}

.hotelNextStep
{
	background: #036 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    cursor: pointer;
	float:right;
}
.hotelNextStep.loading
{
	opacity:.4;
}

.hotelTourDates {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
	color: #000;
	
}

.hotelTourDates:after
{
	content:"";
	clear:both;
	display:block;
}

.tourDatesBlock {
    float: left;
    width: 30.3%;
    margin: 0 1.5%;
}

.tourDatesBlock span {
    font-size: 16px;
    font-weight:bold;
	
}

.hotelTourInfo {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.tourInfoLine {
    padding: 10px 1.5%;
	color:#000;
}

.tourInfoLine:nth-child(2n+2) {
    background: #f9f9f9;
}

.tourInfoLine span {
    font-weight:bold;
}

.loading .hotelTourPrice
{
	padding-right:50px;
	background: url('/upload/loading.gif') right top no-repeat;
}

.formshow .hotelPhoto,
.formshow .infoWrapper
{
	display:none;
}

.hotelOrderWrapper
{
	display:none;
}

.formshow .hotelOrderWrapper
{
	display:block;
}
.fuelBlock
{
    clear:both;
    color:#000;
    padding-left:0;
    display:none;
}

.fuelBlock span
{
    font-weight:bold;
}

.hotelOrderType
{
    display:block;
    height:40px;
    line-height:40px;
    margin-bottom:15px;
}

.hotelOrderType div
{
    display:inline-block;
    height:35px;
    line-height:35px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0px auto;
    clear: both;
    border: none;
    -webkit-appearance: none;
    border:1px solid #5cb85c;
    color:#000;
}

.hotelOrderType div.active
{
    background:#5cb85c;
    color:#fff;
}

.hotelOrderOnline,
.hotelOrderOffice
{
    display:none;
}

.hotelOrderOnline.active,
.hotelOrderOffice.active
{
    display:block;
}

.orderFormTitle
{
	font-size: 16px;
	font-weight: 600;
	color: #000;
	margin-bottom: 20px;
}

.orderSubTtl
{
	font-size: 16px;
	font-weight: 600;
	color: #000;
	margin-bottom: 20px;
}

.onName, .onSname
{
    width:48%;
    float:left;
    margin-right:2%;
	margin-bottom:10px
}

.onBdate
{
    width:48%;
    float:left;
    margin-right:2%;
}

.onNat
{
    width:30%;
    float:left;
    margin-right:2%;
}

.onNat.onTill
{
    width: 48%;
}

.onGend
{ 
    width:16%;
    float:left;
}

.orderInputBdWrap
{
    border: 1px solid #bbb;
    height: 44px;
    line-height: 44px;
    position: relative;
    padding:0 0px
}
.orderInputBdWrap.errorBord
{
	border: 1px solid red;
}

.orderBdateD, .orderBdateM, .orderBdateY
{
    width:29%;
    padding:0;
    float:left;
    height: 43px;
    line-height: 43px;
    border-right: 1px solid #bbb;
}
.orderBdateY
{
    width:40%;
    border-right: none;
}

.orderInputBdWrap input
{
    border: none;
    font-size: 14px;
    height: 43px;
    line-height: 44px;
    padding: 0;
    width: 100%;
    text-align:center;
}

.onLine
{
    margin-bottom:10px;
}

.orderOnlineTextWrap{
    border: 1px solid #bbb;
    height: 55px;
    margin-bottom: 15px;
    padding: 10px 20px;
    position: relative;
}

.orderOnlineTextWrap textarea {
    border: medium none;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.orderOnlineWrap .orderTtl
{
    margin-bottom:10px;
}
.orderOnlineWrap .orderSubTtl
{
    margin-bottom:10px;
    font-size:20px;
    color:#0b8fc0;
}

.turistBlock
{
    padding-bottom:0px;
    border-bottom:2px solid #e52529 ;
    margin-bottom:15px;
}

.uPhone, .uFio
{
    widtH:30.3%;
    margin-right:3%;
    float:left;
}

.uEmail, .uPasport
{
    widtH:30.3%;
    margin-left:1.5%;
    margin-right:1.5%;
    float:left;
}

.uAdres, .uPasout
{
    widtH:30.3%;
    margin-left:3%;
    float:left;
}

.userBlock
{
    margin-bottom:20px;
}
.turistBlockSubTitile
{
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.orderInputWrap
{
    border: 1px solid #bbb;
    height: 44px;
    line-height: 44px;
    position: relative;
    padding:0 10px
}

.orderInputWrap.errorBord,
.orderOnlineTextWrap.errorBord,
#searchHelpForm .errorBord
{
    border: 1px solid red;
}

.orderTextWrap
{
    border: 1px solid #bbb;
    height: 45px;
    position: relative;
    padding:10px 20px;
    margin-bottom:15px;
}
.orderTextWrap textarea
{
    border: none;
    width:100%;
    height:100%;
    font-size: 16px;
    
}

.orderInputText {
    color: #000;
  
    font-size: 16px;
    margin-bottom: 10px;
}

.orderLeft, .orderMid, .orderRight {
    float: left;
    margin-bottom: 5px;
    width: 33.3%;
}
.orderLeft .orderInner {
    margin-right: 9%;
}

.orderRight .orderInner {
    margin-left: 9%;
}

.orderMid .orderInner {
    margin-left: 4.5%;
    margin-right: 4.5%;
}
.orderInputWrap input 
{
    border: none;
    font-size: 14px;
    height: 42px;
    line-height: 44px;
    padding: 0;
    width: 100%;
  
}
.orderTextWrap textarea
{
	font-size: 18px;
	font-family:Arial;
}

.orderSend
{
    background: #5cb85c;
    color: #fff;
    display: block;
    
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    cursor:pointer;
    margin:0px auto;
    clear:both;
    border:none;
    -webkit-appearance: none;
}
.orderBot {
    padding-top: 5px;
}

.searchSelect {
    border: 1px solid #bbb;
    height: 44px;
    line-height: 44px;
    position: relative;
}
.searchSelectText {
    height: 44px;
    line-height: 44px;
    color: #000;
    display: block;
    padding: 0 30px 0 16px;
    font-size: 16px;
    display: block;
}

.searchSelectText::before {

    background: url("images/icon_arrow_bot.png") no-repeat;
    display: block;
    position: absolute;
    top: 20px;
    left: 100%;
    content: '';
    width: 12px;
    height: 7px;
    border: 0;
    margin-left: -30px;

}

.searchSelect select {
    cursor: pointer;
    display: block;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 44px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    font-size: 14px;
}

.orderWide {
    margin-bottom: 10px;
}

.turZakazWrap .fancybox-skin
{
    background:#fff;
    padding:35px 40px 25px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    color:#1d2638!important;
}

.turZakazWrap .fancybox-close
{
    background: #fee13c url('images/close.png') center center no-repeat;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    width:48px;
    height:48px;
    display:block;
    border:1px solid #fee13c;
    right: 0;
    top: 0;
    
}

#claimOkMain
{
    text-align:center;
    font-size:20px;
}
.errorBlock
{
	color: red;
	margin-top: 5px;
}

@media (max-width: 860px) {
 
    .contryMonthWrapper {
        grid-template-columns: 50% 50%;
    }
    .countryMonthWrap
    {
        margin-top: 15px;
        padding-top: 15px;
        grid-template-columns: 1fr;
        gap: 10px;
        font-size: 14px;
    }
    .countryMonthCountry , .countryMonthCountry:hover
    {
        font-size: 14px;
    }

}

@media (max-width: 560px) {
 
    .contryMonthWrapper {
       display:block;
    }
    .countryTourWrapper.mobileHid
    {
        display:none; 
    }
}

@media (max-width: 520px) {
    .infoWrapper {
		display: block;
	}	
	.infoWrapper ul
	{
		margin-left: 15px;
	}
	
	.searchSelect.sSelectWrap {
		height: 44px;
		line-height: 44px;
	}
	
	.searchSelectText.sSelectSpan
	{
		padding: 0 20px 0 8px;
		height: 44px;
		line-height: 44px;
	}
	
	.searchSelectText.sSelectSpan::before
	{
		margin-left: -20px;
	}
	
	.tourHotelWrap {
		padding:20px 10px;
	}
    
    
}

@media (max-width: 440px) {
    .turistBlock .orderInputText,
    .orderOnlineDop .orderInputText
       {
		font-size: 14px;
    }
	.hotelOrderType div
	{
		
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
	}
    
    
}  